#root {
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
p {
  color: aliceblue;
}

body {
  background-image: linear-gradient(120deg, #072143 0%, #041536 1%, #112442 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}